section.video {
    padding: 0 0 2rem;
}

.board-listing .card {
    width: 175px;
}

.board-listing .card-footer {
    height: 3.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board-listing {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
}

.board-listing .card:hover {
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
}

.board-listing .img-container {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board-listing a {
    color: initial;
    text-decoration: none;
}
