{% extends "page.html" %}

{% block content %}

  <p>
    {% trans trimmed %}
      Version 1.0 ratified on August 10th, 2019
    {% endtrans %}
  </p>

  <p>
    {% trans trimmed %}
      The FreedomBox community has adopted this code of conduct for its
      community members and participants to the various modes of communication
      within the FreedomBox project.
    {% endtrans %}
  </p>

  <h2>{{ _("1. Be Respectful") }}</h2>

  <p>
    {% trans trimmed %}
      In a project the size of FreedomBox, inevitably there will be people with
      whom you may disagree, or find it difficult to cooperate. Accept that, but
      even so, remain respectful. Disagreement is no excuse for poor behavior or
      personal attacks, and a community in which people feel threatened is not a
      healthy community.
    {% endtrans %}
  </p>

  <p>
    {% trans trimmed %}
      Members of our community must treat others with equal concern and respect,
      regardless of background, family status, marital status, gender identity
      or expression, sex, sexual orientation, language, age, ability, race,
      ethnicity, national origin, socioeconomic status, religion, or geographic
      location.
    {% endtrans %}
  </p>

  <p>
    {% trans trimmed %}
      Community members may indicate their preferred gender pronouns on an
      opt-in basis in any way they wish, including email signatures, at the end
      of forum posts, in their forum profile, or alongside their name in
      parenthesis in any document in which names appear (e.g. the shared notes
      for progress calls). Community members are expected to respect the
      preferred gender pronouns of other members.
    {% endtrans %}
  </p>

  <h2>{{ _("2. Assume Good Faith") }}</h2>

  <p>
    {% trans trimmed %}
      FreedomBox contributors have many ways of pursuing our common goal of
      creating a free server operating system which may differ from your ways.
      Assume that other people are working towards this goal.
    {% endtrans %}
  </p>

  <p>
    {% trans trimmed %}
      Note that many of our Contributors are not native English speakers or may
      have different cultural backgrounds. Assume good faith when
      misunderstandings arise.
    {% endtrans %}
  </p>

  <h2>{{ _("3. Be Collaborative") }}</h2>

  <p>
    {% trans trimmed %}
      FreedomBox is a large and complex project; there is always more to learn
      within FreedomBox. It’s good to ask for help when you need it. Similarly,
      offers for help should be seen in the context of our shared goal of
      improving FreedomBox.
    {% endtrans %}
  </p>

  <p>
    {% trans trimmed %}
      When you make something for the benefit of the project, be willing to
      explain to others how it works, so that they can build on your work to
      make it even better.
    {% endtrans %}
  </p>

  <p>
    {% trans trimmed %}
      The FreedomBox community values non-code contributions, including design
      contributions.
    {% endtrans %}
  </p>

  <p>
    {% trans trimmed %}
      The FreedomBox community also values newcomers and provides tasks for
      first-time contributors using the “beginner” label in our issue tracking
      system.
    {% endtrans %}
  </p>

  <h2>{{ _("4. Try To Be Concise") }}</h2>

  <p>
    {% trans trimmed %}
      Keep in mind that what you write may be read by hundreds of people.
      Writing a short email or forum post means people can follow the
      conversation as efficiently as possible. When a long explanation is
      necessary, consider adding a summary.
    {% endtrans %}
  </p>

  <p>
    {% trans trimmed %}
      Try to bring new arguments to a conversation so that each contribution
      adds something unique to the thread, keeping in mind that the rest of the
      thread still contains the other messages with arguments that have already
      been made.
    {% endtrans %}
  </p>

  <p>
    {% trans trimmed %}
      Try to stay on topic, especially in discussions that are already fairly
      large.
    {% endtrans %}
  </p>

  <h2>{{ _("5. Be Open") }}</h2>

  <p>
    {% trans trimmed %}
      Most means of communication used by the FreedomBox community allow for
      public and private methods of communication. When it would contribute to
      the community’s knowledge base, you should preferably use public methods
      of communication for FreedomBox-related discussions. This applies to
      messages for help or FreedomBox-related support, too; not only is a public
      support request much more likely to result in an answer to your question,
      it also makes sure that any inadvertent mistakes made by people answering
      your question will be more easily detected and corrected.
    {% endtrans %}
  </p>

  <p>
    {% trans trimmed %}
      Our community strives to avoid jargon and other non-inclusive language
      that can alienate or make people feel excluded. Our community also strives
      to encourage and recognize quiet voices. Though our community mostly
      communicates in English, we recognize that English may not be the first
      language of all contributors. Where possible, we provide notes of meetings
      and conference calls. We encourage and support localization of our
      documentation using a community edited Wiki. We encourage and support the
      localization of our software user interface using both web-based and
      traditional translation tools.
    {% endtrans %}
  </p>

  <h2>{{ _("6. In Case of Problems") }}</h2>

  <p>
    {% trans trimmed %}
      While this code of conduct should be adhered to by participants, we
      recognize that sometimes people may have a bad day, or be unaware of some
      of the guidelines in this code of conduct. When violations happen, you
      have three avenues for enforcement. (1) You may reach out to the person
      who violated the code of conduct and point it out to them. Such
      messages may be in public or in private, whatever you decide is most
      appropriate. However, regardless of whether the message is public or not,
      it should still adhere to the relevant parts of this code of conduct; in
      particular, it should not be abusive or disrespectful. (2) You may report
      the violation to a community member who is listed in the “Contacts”
      section below and, if desired, ask for assistance mediating a resolution.
      (3) You may report the violation to a staff member at the FreedomBox
      Foundation and, if desired, ask for assistance mediating a resolution.
      Ultimately, all reports will be responded to in a matter appropriate to
      the specific circumstances of the violation, and the reporter, reported,
      and all others impacted will be updated.
    {% endtrans %}
  </p>

  <p>
    {% trans trimmed %}
      If you choose to report a violation to either a community member or a
      FreedomBox Foundation staff member, reports should be made in private. To
      find contact information for these parties, please see “Contacts” section
      below.
    {% endtrans %}
  </p>

  <h2>{{ _("Contacts") }}</h2>

  <p>
    {% trans trimmed %}
      The following individuals, listed in alphabetical order, have volunteered
      to be contacted in case of problems. Please feel free to reach out to any
      or all of them:
    {% endtrans %}
  </p>

  <ul>
    <li>
      James Valleroy ({{ _("FreedomBox community member") }}): &lt;jvalleroy@mailbox.org&gt;
    </li>
    <li>
      Sunil Mohan Adapa ({{ _("FreedomBox community member") }}): &lt;sunil@medhas.org&gt;
    </li>
  </ul>

  <p>{{ _("Notes:") }}</p>

  <ol>
    <li>
      {% trans trimmed %}
        This code of conduct was adapted from <a
        href="https://www.debian.org/code_of_conduct">Debian’s Code of
        Conduct</a>.
      {% endtrans %}
    </li>

    <li>
      {% trans trimmed %}
        This code of conduct benefits from the guidance provided by Mozilla’s “<a
        href="(https://github.com/mozilla/diversity/blob/master/evaluation_tools/governance-basic.md">Open
        Source Inclusion Basic Checklist for Projects</a>”.
      {% endtrans %}
    </li>
  </ol>

{% endblock %}
