<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{% block title %}{{ this.title }} | {% endblock %} {{ _("FreedomBox - Personal Server at Home") }}</title>

  <!-- Favicon. Works with IE >= 11 and other GUI browsers -->
  <link rel="icon" type="image/png"
        href="{{ '/images/freedombox-logo-32px.png'|asseturl }}"/>

  <link rel="stylesheet"
        href="{{ '/external/bootstrap-4.4.1/css/bootstrap.min.css'|asseturl }}">
  <link rel="stylesheet" href="{{ '/css/main.css'|asseturl }}">
  <link rel="stylesheet" href="{{ '/css/latolatinfonts.css'|asseturl }}">

  {% block page_css %}
  {% endblock %}

  <script defer src="{{ '/external/jquery-3.4.1.slim.min.js'|asseturl }}"></script>
  <script defer src="{{ '/external/bootstrap-4.4.1/js/bootstrap.min.js'|asseturl }}"></script>

  {% block page_js %}
  {% endblock %}

  <meta property="og:site_name" content="{{ _("FreedomBox") }}" />
  <meta property="og:title"
        content="{{ _("FreedomBox - Personal Server at Home") }}" />
  <meta property="og:description"
        content="{{ _("FreedomBox is a personal server running a free software operating system, with free applications designed to create and preserve personal privacy.") }}" />
  <meta property="og:image"
        content="{{ '/images/freedombox-logo.png'|asseturl }}" />
  <meta property="og:secure_url"
        content="{{ '/images/freedombox-logo.png'|asseturl }}" />
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet"
        href="{{ '/css/fork-awesome/fork-awesome.min.css'|asseturl }}">
</head>

<body>
  <header>
    {% block menu %}
      <nav class="navbar fixed-top navbar-expand-md navbar-light">
        <a class="navbar-brand d-block d-md-none" href="{{ '/'|url }}">
          <img src="{{ '/images/freedombox-logo-32px.png'|asseturl }}"
               alt="{{ _("Home") }}">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbar-nav" aria-controls="navbar-nav"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-nav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item">
              <a class="navbar-brand d-none d-md-block" href="{{ '/'|url }}">
                <img src="{{ '/images/freedombox-logo-32px.png'|asseturl }}"
                     alt="{{ _("Home") }}">
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ "/buy"|url }}">{{ _("Buy") }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ "/download"|url }}">
                {{ _("Download") }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ "/"|url }}#features">
                {{ _("Features") }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ "/"|url }}#community">
                {{ _("Support") }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ "/about"|url }}">{{ _("About") }}</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#"
                 id="navbar-alts-dropdown" role="button" data-toggle="dropdown"
                 aria-haspopup="true" aria-expanded="false">
                <span class="fa fa-language"></span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbar-alts-dropdown">
                {% for locale, value in bag('enabled-locales').items() %}
                  <a class="dropdown-item" href="{{ '.'|url(alt=locale) }}">
                    {{ config.values.ALTERNATIVES[locale].name['en'] }}
                  </a>
                {% endfor %}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item"
                   href="https://hosted.weblate.org/projects/freedombox/freedombox-org/">
                  {{ _("Translate…") }}
                </a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    {% endblock %}
  </header>

  <main>
    {% block heading %}
    {% endblock %}

    {% block content %}
      {{ this.body }}
    {% endblock %}
  </main>

  <footer>
    <div class="container">
      <nav>
        <section>
          <h5>{{ _("Get") }}</h5>
          <ul>
            <li><a href="{{ '/buy'|url }}">{{ _("Buy") }}</a></li>
            <li><a href="{{ '/download'|url }}">{{ _("Download") }}</a></li>
            <li><a href="{{ '/demo'|url }}">{{ _("Demo") }}</a></li>
            <li><a href="{{ '/cloud'|url }}">{{ _("Cloud Trial") }}</a></li>
          </ul>
        </section>
        <section>
          <h5>{{ _("Learn") }}</h5>
          <ul>
            <li><a href="{{ '/about'|url }}">{{ _("About") }}</a></li>
            <li><a href="{{ '/'|url }}#features">{{ _("Features") }}</a></li>
            <li><a href="https://wiki.debian.org/FreedomBox/Vision">
              {{ _("Vision") }}</a></li>
            <li><a href="https://wiki.debian.org/FreedomBox/Manual">
              {{ _("Manual") }}</a></li>
            <li><a href="https://en.wikibooks.org/wiki/FreedomBox_for_Communities">
              {{ _("E-Book for Communities") }}</a></li>
          </ul>
        </section>
        <section>
          <h5>{{ _("Contact") }}</h5>
          <ul>
            <li><a href="https://wiki.debian.org/FreedomBox/Support">
              {{ _("Get Support") }}</a></li>
            <li><a href="https://discuss.freedombox.org/">
              {{ _("Forum") }}</a></li>
            <li><a href="https://matrix.to/#/#freedombox:matrix.org">
              {{ _("Matrix") }}</a></li>
            <li><a href="https://lists.alioth.debian.org/mailman/listinfo/freedombox-discuss">
              {{ _("Mailing List") }}</a></li>
            <li><a href="irc://irc.debian.org/freedombox">
              {{ _("IRC") }}</a></li>
            <li><a href="https://freedomboxfoundation.org/">
              {{ _("Foundation") }}</a></li>
            <li><a href="https://salsa.debian.org/freedombox-team/freedombox/issues">
              {{ _("Report Issues") }}</a></li>
          </ul>
        </section>
        <section>
          <h5>{{ _("Contribute") }}</h5>
          <ul>
            <li><a href="https://wiki.debian.org/FreedomBox/Contribute">
              {{ _("Guide for Contributors") }}</a></li>
            <li><a href="https://freedomboxfoundation.org/donate/">
              {{ _("Donate") }}</a></li>
          </ul>
        </section>
        <section>
          <h5>{{ _("Project") }}</h5>
          <ul>
            <li><a href="https://salsa.debian.org/freedombox-team/freedombox/">
              {{ _("Source Code") }}</a></li>
            <li><a href="{{ "/coc"|url }}">{{ _("Code Of Conduct") }}</a></li>
            <li><a href="{{ "/community"|url }}">
              {{ _("Community Governance") }}</a></li>
            <li><a href="https://wiki.debian.org/FreedomBox">
              {{ _("Wiki") }}</a></li>
          </ul>
        </section>
      </nav>
    </div>
  </footer>
</body>
</html>
